<div class="child-nav">
  <div class="arrow-up"></div>
    <nav>
      <a [routerLink]="['beer']">Beer</a>
      <a [routerLink]="['food']">Food</a>
      <a [routerLink]="['music']">Music</a>
      <a [routerLink]="['workout']">Workout</a>
    </nav>
</div>
<router-outlet></router-outlet>
<!--CHILD ROUTES HERE -->


<!-- <app-form-dynamic [dataObject]="person"></app-form-dynamic> -->
<!-- <app-form-dynamic [dataObject]="trackerItem"></app-form-dynamic> -->

<!-- <agm-circle 
    [latitude]="lat" 
    [longitude]="lng" 
    [radius]="5000" 
    [fillColor]="black"
    [strokeColor]="red"
  >
  </agm-circle> -->