<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" >
  <agm-snazzy-info-window [isOpen]="true" [latitude]="lat" [longitude]="lng" [closeWhenOthersOpen]="true">
    <ng-template>
      My first Snazzy Info Window!
    </ng-template>
  </agm-snazzy-info-window>
</agm-map>

<app-form-dynamic [dataObject]="dataObj"></app-form-dynamic>

<!-- <agm-circle 
    [latitude]="lat" 
    [longitude]="lng" 
    [radius]="5000" 
    [fillColor]="black"
    [strokeColor]="red"
  >
  </agm-circle> -->