<!-- FLEXBOX NAV -->
<!-- <header class="site-header">
  <nav class="site-nav">
    <ul>
      <li class="active"><a routerLink="/login">Home</a></li>
      <li class="active"><a routerLink="/login">Top</a></li>
      <li class="active"><a routerLink="/login">New</a></li>
      <li class="active"><a routerLink="/login">Rising</a></li>
    </ul>
  </nav>
  <a class="logo" routerLink="/home"></a>
  <div class="actions">
    <li *ngIf="!isLoggedIn; else showProfile_content"><a routerLink="/login">Login</a></li>
  </div>
</header> -->

<header>
  <nav>
    <div class="left">
      <div><a routerLink="/login">Home</a></div>
      <div><a routerLink="/login">Top</a></div>
      <div><a routerLink="/login">New</a></div>
      <div><a routerLink="/login">Rising</a></div>
    </div>
    <div class="center">
      <div class="logo"><img src='/assets/images/RnR.png' /></div>
    </div>
    <div class="right">
        <div *ngIf="!isLoggedIn; else showProfile_content"><a routerLink="/login">Login</a></div>
        <div><a routerLink="/login">Bug</a></div>
        <div><a routerLink="/login">Roadmap</a></div>
    </div>
  </nav>
</header>

<!-- TEMPLATES -->
<ng-template #showProfileList_content>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/profile">Profile</a>
  <ul class="dropdown-menu">
    <li *ngIf="isLoggedIn"><a routerLink="/admin" (click)="toggleState()">Administration</a></li> 
    <li><a routerLink="/profile" (click)="toggleState()">View Profile</a></li>
    <li><a routerLink="/" (click)="logout(); toggleState()" >Logout</a></li>
  </ul>
</li>
</ng-template>

<ng-template #showProfile_content>
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Profile
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngIf="isLoggedIn"><a routerLink="/admin" (click)="toggleState()">Administration</a></li>
    <li><a routerLink="/profile" (click)="toggleState()">View Profile</a></li>
    <li class="divider dropdown-divider"></li>
    <li><a routerLink="/" (click)="logout(); toggleState()" >Logout</a></li>
  </ul>
</div>
</ng-template>
