.fa {
  color:white;
  font-size:22px;
}

header {
  background: #0D1313;
  color: white;

  nav { 
    display:flex;
    
     > div > div {
      font-family: proxima-nova;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 10px;

      > a {
        margin: 0px 15px;
      }
    }

    div.left {
      flex-basis: 40%;
      display:flex;
      align-items: center;
      justify-content: flex-end;
    }

    div.center {
      flex-basis: 20%;
      // padding:0px;
      display:flex;
      align-items: stretch;
      justify-content: center;

      img {
        width:60px;
      }
    }

    div.right {
      flex-basis: 40%;
      display:flex;
      align-items: center;
      justify-content: flex-start;

      button {
        border-radius: 15px;
        color:white;
        background:black;
      }
    }
  }
}

  
@media screen and (min-device-width: 1200px) /* Desktop */ {
  /* #header-bar {
    display:block;
  } */
}

@media screen  and (max-device-width: 1199px) /* Tablet */ {
  /* #header-bar {
    display:none;
  }
  .navbar-toggle {
    display: block;
  } */
}

@media screen and (max-device-width: 720px) /* Mobile */ {
  // .site-header {
  //   flex-wrap: wrap;
  // }
  // .site-nav {
  //   order: 2;
  //   background: #333;
  //   width: 100%;
  // }
}



