<!-- FLEXBOX NAV -->
<header>
  <nav>
    <div class="left">
      <div><a routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i></a></div>
      <div><a routerLink="/fire"><i class="fa fa-fire" aria-hidden="true"></i></a></div>
      <div><a routerLink="/new"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
      <div><a routerLink="/favorites"><i class="fa fa-star" aria-hidden="true"></i></a></div>
    </div>
    <div class="center">
      <div class="logo">
          <a routerLink="/music">
            <img class='logo-outside' src='/assets/images/RnROutside2.svg' />
            <img class='logo-inside' src='/assets/images/RnROnly.svg' />
          </a>
        </div>
    </div>
    <div class="right">
        <div *ngIf="!isLoggedIn; else showProfile_content"><a (click)="showLoginModal()" style="cursor: pointer"><i class="fa fa-user" aria-hidden="true"></i></a></div>
        <div><a routerLink="/bugs"><i class="fa fa-bug" aria-hidden="true"></i></a></div>
        <div><a routerLink="/roadmap"><i class="fa fa-road" aria-hidden="true"></i></a></div>
        <div><a routerLink="/playground"><i class="fa fa-plane" aria-hidden="true"></i></a></div>
    </div>
  </nav>
</header>

<!-- TEMPLATES -->
<ng-template #showProfile_content>
<div class="btn-group" dropdown>
  <button dropdownToggle type="button">
    <i class="fa fa-user" aria-hidden="true"> </i>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem" *ngIf="isLoggedIn"><a routerLink="/admin" (click)="toggleState()">Administration</a></li>
    <li><a routerLink="/profile" (click)="toggleState()">View Profile</a></li>
    <li class="divider dropdown-divider"></li>
    <li><a routerLink="/" (click)="logout(); toggleState()" >Logout</a></li>
  </ul>
</div> 
</ng-template>
 