<!-- <div [@someCoolAnimation]="bindingVar">...</div>

<button (click)="toggle()">Toggle Fade</button>
<div [@someCoolAnimation]="bindingVar">hello there</div> -->

<!-- <app-rave-repeater-canvas></app-rave-repeater-canvas> -->
<!-- <app-rave-repeater></app-rave-repeater> -->
<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Show Name</button>
  </li>
</ol>