<!--  ng serve --host 0.0.0.0 --port 4201 -->
<!-- 
  checkout and switch: git checkout -b branchName
  merge: (on master) git merge branchName
  delete local: (on master) git branch -d branchName
  delte remote: git push origin :branchName
-->
<!-- <app-header></app-header> -->

<app-header></app-header>
<app-alert></app-alert>
<div class="app-content" [@routerAnimation]="getState(o)">
  <div class="box"></div>
  <router-outlet #o="outlet"></router-outlet>
</div>
<!-- <app-footer></app-footer> test test --> 
