<h1>Sign In</h1>

<div class="cont">
  <div class="img-cont">
      <img src="/assets/images/F_icon.svg" (click)="facebookLogin()">
  </div>
  

  <form (ngSubmit)="emailLogin()" #loginForm="ngForm" validate>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
        [(ngModel)]="model.email" name="email"
        #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required
        [(ngModel)]="model.password" name="password"
        #password="ngModel">
        <div [hidden]="password.valid || password.pristine"
            class="alert alert-danger">
        Password is required
      </div>
    </div>
  </form>
  <div class="bottom">
    <button class="left btn btn-success" (click)="emailLogin()" [disabled]="!loginForm.form.valid">Login</button>
    <button class="right btn btn-error" (click)="emailRegiser()" [disabled]="!loginForm.form.valid">Register</button>    
  </div>
</div>

<hr>

<h1>No Account Yet? Register Here!</h1>
