/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
   
.IL {
    display:inline-block;
}

.AR {
    text-align: right;
}

.AL {
    text-align: left;
}

.FL {
    float:left;
}

.FR {
    float:right;
}