<!-- RIGHT CLICK MENU -->
<context-menu #basicMenu>
  <ng-template contextMenuItem let-item passive="true">
    <form>
      <mat-form-field>
        <input matInput #labelChange placeholder="Name" value="{{item.label}}"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput #ytChange placeholder="Youtube Link" value="{{item.youtubeLink}}"/>
      </mat-form-field>
    </form>
  </ng-template>
<ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item passive="true">
    <button mat-button (click)="nodeAddChild($event, item)">
      <mat-icon svgIcon="add-box"></mat-icon>
      Add Below
    </button>
    <button mat-button (click)="inCreateLink = true">
      <mat-icon svgIcon="add-box"></mat-icon>
      Create Link
    </button>
    <form *ngIf="inCreateLink">
      <mat-form-field>
        <input matInput #srcLinkID placeholder="Source" />
      </mat-form-field>
      <mat-form-field>
        <input matInput #destLinkID placeholder="Destination" />
      </mat-form-field>
    </form>
  </ng-template>
<ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item passive="true">
    <button mat-button id="graph-update-btn" (click)="nodeUpdate($event, item)">
      <mat-icon svgIcon="check"></mat-icon>
    </button>
  </ng-template>
</context-menu>

<mat-sidenav-container class="left-nav-container">
  <mat-sidenav #sideNav mode="side" opened="true">
    <button (click)="save()">Save</button>
    <h3>Theme</h3>
    <select
      [ngModel]="theme"
      (ngModelChange)="theme = $event">>
      <option [value]="'dark'">Dark</option>
      <option [value]="'light'">Light</option>
    </select>
    <button mat-button id="sidenav-button" (click)="sideNav.toggle()">
        <mat-icon svgIcon="arrow-left-thick"></mat-icon>
        View source
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
      <div style="height: 500px">
          <ngx-graph
            class="chart-container"
            [view]="visualizer.options.view"
            [autoZoom]="autoZoom"
            [legend]="showLegend"
            [links]="visualizer.links"
            (legendLabelClick)="onLegendLabelClick($event)"
            [nodes]="visualizer.nodes"
            [scheme]="colorScheme"
            [orientation]="orientation"
            [curve]="curve"
            (select)="select($event)">
    
            <ng-template #defsTemplate>
              <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
              </svg:marker>
            </ng-template>
    
            <ng-template #nodeTemplate let-node>
              <svg:g class="node"
                ngx-tooltip
                [contextMenu]="basicMenu" [contextMenuSubject]="node"
                >
                <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
                <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
                <svg:text alignment-baseline="after-edge" *ngIf="inCreateLink">{{node.id}}</svg:text>
              </svg:g>
            </ng-template>
    
            <ng-template #linkTemplate let-link>
              <svg:g class="edge">
                <svg:path
                  class="line"
                  stroke-width="2"
                  marker-end="url(#arrow)" >
                </svg:path>
                <svg:text class="edge-label" text-anchor="middle">
                  <textPath
                    class="text-path"
                    [attr.href]="'#' + link.id"
                    [style.dominant-baseline]="link.dominantBaseline"
                    startOffset="50%">
                    {{link.label}}
                  </textPath>
                </svg:text>
              </svg:g>
            </ng-template>
    
          </ngx-graph>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>